/* 
h1 {
    border: 2px solid black;
    width: 50%;
    font-size: 2rem;
    padding: 1em;
} */


body {
    padding: 1.5em;
    font-size: 1.5rem;
}

p {
    /* text-decoration:underline; */
    /* text-transform: capitalize; */
    text-align: justify;
    text-indent: 1.7em;
    /* letter-spacing: 0.11em; */
    font-weight: 500;
    word-spacing: 3px;
    font-style: italic;
}


a {
    cursor: pointer;
    color: rgb(40, 181, 134);

}

a:hover {
    color: burlywood;
}

